html{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	@extend html;
	font-size:0.12rem;
	font-family:"Microsoft Yahei";
	line-height:22px;
	color:#999;
}
a{
	color:#666;
	text-decoration:none;
	cursor:none;
}
h1,h2,h3,h4,h5,h6{
	@extend html;
	font-weight:normal;
	font-size:0.14rem;
}
ul,ol,li,dl,dt,dd{
	@extend html;
	list-style:none;
}
div,p{
	@extend html;
}
button{
	@extend html;
	outline:none;
	border:none;
}